@use '../../styles/variables' as *;

.data-table {
  background: $bg-white;
  border-radius: 8px;
  box-shadow: $box-shadow;
  padding: 10px;
  width: 98%;

  .data-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      margin: 0;
      color: $text-primary;
      font-size: 1.5rem;
    }

    .search-box {
      input {
        background-color: var(--main-bg);
        color: var(--main-text);
        padding: 8px 12px;
        border: 1px solid $border-color;
        border-radius: 4px;
        font-size: 14px;
        width: 250px;
        transition: border-color 0.2s;
        height: 20px;
        &:focus {
          outline: none;
          border-color: $primary-color;
        }
      }
    }
  }

  .table-container {
    overflow-x: auto;

    table {
      width: 100%;
      border-collapse: collapse;
      border-collapse: separate; /* important */
      border-spacing: 0 10px; /* 10px vertical spacing between rows */
      // font-size: 12px;

      thead{
        // background-color: $primary-dark;
      }
      th, td {
        padding: 12px 16px;
        text-align: left;
        // border-bottom: 1px solid $border-color;
        line-height: 13px;
        font-size: 13px;
      }

      th {
        // background-color: $bg-light;
        width: max-content;
        font-weight: 600;
        color: #99989F;
        cursor: pointer;
        user-select: none;
        font-size: 14px;
        line-height: normal;
        &.sortable {
          &:hover {
            background-color: $bg-hover;
          }
        }

        .sort-indicator {
          margin-left: 4px;
          color: $primary-color;
        }
      }

      tbody {
        tr {
          background-color: var(--tr-bg);
          &:hover {
            background-color: $bg-light;
          }

          td {
            color: $text-secondary;
            border-top: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);
            padding-top:10px;
            padding-bottom:10px;
          }
        }
      }
    }
  }
  .first-td-class{
    border-left: 1px solid var(--border-color);
  }
  .last-td-class{
    border-right: 1px solid var(--border-color);
  }
  .td-div{
    border-right: 2px solid var(--border-color);
    font-size: 14px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
    p{
      width:max-content;
      margin-bottom: 5px;
      margin-top:5px;
    }
  }
  .last-td-div{
    font-size: 14px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
    p{
      width:max-content;
      margin-bottom: 5px;
      margin-top:5px;
    }
  }
  .b-day{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    
  }
  
  .data-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    .add-button {
      background-color: $primary-color;
      color: $bg-white;
      border: none;
      border-radius: 5px;
      margin-left: 5px;
      height:100%;
      input{
        height:21px;
      }
    }
  }
  #edit{
    background-color: var(--edit-bg);
    border: 1px solid rgb(60, 60, 245);
    color: rgb(92, 92, 241);
    &:hover{
      background-color: rgb(92, 92, 241);
      color: $bg-white;
    }
  }
  #view{
    background-color: var(--view-bg);
    border: 1px solid rgb(32, 102, 59);
    color: rgb(32, 102, 59);
    &:hover{
      background-color: rgb(32, 102, 59);
      color: $bg-white;
    }
  }
  #delete{
    background-color: var(--delete-bg);
    border: 1px solid red;
    color: rgb(223, 92, 92);
    &:hover{
      background-color: rgb(223, 92, 92);
      color: $bg-white;
    }
  }
  .action-button{
    background-color: $transparent-color;
    
    border-radius: 5px;
    // width:10%;
    margin: 0 5px;    
    
    &:hover{
      background-color: $bg-hover;
    }
    
  }

  .pagination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12px;
    gap: 5px;
    .pagination-button {
      color: var(--border-color);
      padding: 4px 8px;
      border: 1px solid $border-color;
      background-color: $bg-white;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover:not(:disabled) {
        background-color: $bg-hover;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .page-numbers {
      display: flex;
      gap: 5px;

      .page-number {
        padding: 4px 6px;
        border: 1px solid $border-color;
        background-color: $bg-white;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.2s;
        font-size: 12px;

        &:hover {
          background-color: $bg-hover;
        }

        &.active {
          background-color: $primary-color;
          color: $bg-white;
          border-color: $primary-color;
        }
      }
    }
    .items-per-page{
      color: #cecece;
    }
    .pagination-buttons{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    #itemsPerPage{
      background-color: var(--main-bg);
      border: 1px solid var(--border-color);
      border-radius: 6px;
      padding: 4px 4px;
      font-size: 10px;
      color: #5c5b5b;

    }
  }
} 