.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background:var(--main-bg);
    border:1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-bottom: 1px solid var(--border-color);
    flex-shrink: 0;
}

.popup-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--main-text);
}

.popup-close-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #C0C0C099;
    border-radius: 100%;
    padding: 3px 7px;
    cursor: pointer;
    color: var(--main-text);
}

.popup-close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #666;
    padding: 0;
    line-height: 1;
    
    &:hover {
        color: #333;
    }
}

.popup-body {
    padding: 24px;
    overflow-y: auto;
    flex: 1;
    min-height: 0;
}

.popup-footerr {
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-start;
    gap: 10px;
    margin-top: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    width:100%;
    border-top: 1px solid var(--border-color);
    flex-shrink: 0;
}

.popup-btn {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    border: solid 1px var(--border-color);
    margin-left: 5px;
    
    &.cancel {
        background: #C0C0C0;
        color: white;
    }
    
    &.confirm {
        background: var(--sidebar-heading);
        color: white;
    }
} 
.empty-div{
    width: 20px;
}