.app-layout {
  min-height: 100vh;
  background: var(--main-bg);
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  padding: 32px 24px;
  background-color: var(--main-bg);
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(214, 208, 208, 0.1);
  margin-top: 12px;
  margin-left: 12px;
  border-radius: 10px;
  border: 2px solid var(--border-color);
}

.navs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-main {
  display: flex;
  flex: 1;
  flex-direction: column;
}
