// Colors
$primary-color: #797CFF;
$primary-light: #8b8df3;
$primary-dark: #575af5;

// Text Colors
$text-primary: #231F3A;
$text-secondary: #4A475B;

// Background Colors
$bg-white: #ffffff;
$bg-light: #f8f9fa;
$bg-hover: #f0f0f0;

// Border Colors
$border-color: #e0e0e0;

// Shadow
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

$transparent-color: #FFFFFF