// Colors
$primary-color: #797CFF;
$primary-light: #8b8df3;
$primary-dark: #575af5;

// Text Colors
$text-primary: var(--main-text);
$text-secondary: var(--main-text);

// Background Colors
$bg-white: var(--main-bg);
$bg-light: var(--hover-bg);
$bg-hover: var(--hover-bg);

// Border Colors
$border-color: var(--border-color);

// Shadow
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

$transparent-color: #FFFFFF