:root[data-theme="light"] {
  --sidebar-bg: #231F3A;
  --sidebar-text: #ffffff;
  --sidebar-heading: #696BDA;
  --main-bg: #ffffff;
  --main-text: #333333;
  --hover-bg: #f0f0f0;
  --icon-filter: brightness(0) invert(1);
  --edit-bg: #ffffff;
  --delete-bg: #ffffff;
}

:root[data-theme="dark"] {
  --sidebar-bg: #231F3A;
  --sidebar-text: #ffffff;
  --sidebar-heading: #696BDA;
  --main-bg: #231F3A;
  --hover-bg: #120E2B;
  --main-text: #ffffff;
  --border-color: #5B5969;
  --icon-filter: brightness(0) invert(1);
  --edit-bg: #231F3A;
  --delete-bg: #471717;
} 